$nav-break: 765px;

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

body {
  @include trans(.3s, transform , ease-in-out);
  // height: 200vh;
  position: relative;
  &.on {
    transform: translateX(-100%);
    height: 100vh;
    // overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    &:after {
      @include pseudo(0 0 0 0);
      background-color: rgba(0,0,0,0.7);
      animation: fadein .3s;
      pointer-events: none;
    }
    @include mq(500px) {
      transform: translateX(-500px);
    }
  }
}

.contentWrapper {
  min-height: 100vh;
  .on & {
    // opacity: .3
    cursor: crosshair;
  }
}

.on .contentWrapper a {
  pointer-events: none;
}

.nav {
  position: relative;
  height: 60px;
  background-color: $yellow;
}

.nav-logoMod {
  float: left;
  padding: 0 15px;
  height: 60px;
  width: 175px;
  @include mq(500px) {
    padding: 0 20px;
    width: 200px;
  }
}

.nav-logo {
  padding-top: 25px;
  width: 100%;
  @include mq(500px) {
    padding-top: 23px;
  }
}

.nav-list {
  display: none;
  @include mq($nav-break) {
    float: right;
    height: 60px;
    margin-right: 155px;
    border-right: 2px solid $navy;
    padding-right: 30px;
    display: block;
  }
  @include mq(830px) {
    margin-right: 185px;
  }
}

.nav-item {
  display: inline-block;
  margin-right: 20px;
  padding-top: 22px;
  &:last-child {
    margin-right: 0;
  }
  @include mq(830px) {
    margin-right: 30px;
  }
}

.nav-link {
  @include font(sans, 14px, 700, normal, 1px, caps);
  @include mq(830px) {
    font-size: 16px;
  }
  @include link(#fff);
}

.nav-menuBtn {
  float: right;
  @include font(sans, 16px, 700, normal, 1px, caps);
  @include absolute(0 0 0 n);
  text-align: left;
  padding: 0 30px;
  width: 125px;
  @include trans(.2s, all, ease);
  &:hover {
    background-color: shade($yellow, 3%);
  }
  @include mq($nav-break, 830px) {
    padding: 0 18px;
    width: 155px;
    font-size: 13px;
  }
  @include mq(830px) {
    padding: 0 30px;
    font-size: 16px;
    width: 185px;
  }
}

.nav-menuBtnText {
  padding-top: 3px;
}

.nav-menuBtnText--menu {
  display: block;
  @include mq($nav-break) {
    display: none;
  }
}

.nav-menuBtnText--products {
  display: none;
  @include mq($nav-break) {
    display: block;
  }
}

.nav-menuBtnIcon {
  @include size(22px 3px);
  background-color: $navy;
  position: absolute;
  right: 20px;
  top: 30px;
  &:before {
    @include pseudo(-6px 0 n 0);
    height: 3px;
    background-color: $navy;
  }
  &:after {
    @include pseudo(n 0 -6px 0);
    height: 3px;
    background-color: $navy;
  }
  @include mq($nav-break) {
    right: 20px;
  }
  @include mq(830px) {
    right: 30px;
  }
}

.productsNav {
  width: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  background-color: #eee;
  overflow: scroll;
  @include mq(500px) {
    right: -500px;
    width: 500px;
  }
}

.productsNav-img {
  @include size(100px);
  border-radius: 50%;
  background-size: cover;
  background-color: $navy;
}

.productsNav-tease {
  @include pair(100px, 20px);
  margin-bottom: 30px;
  padding: 0 25px;
}

.productsNav-h {
  @include font(oswald, 20px, 700);
  margin-bottom: 5px;
  display: inline-block;
  box-shadow: 0 0px $navy;
  @include trans(.15s, all, ease);
  .productsNav-tease:hover & span {
    box-shadow: 0 -2px $navy inset;
  }
}

.productsNav-deck {
  @include font(serif, 14px, 400);
  line-height: 1.4em;
}

.productsNav-closeMod {
  height: 60px;
  margin-bottom: 0px;
  background-color: #fff;
  @include mq($nav-break) {
    margin-bottom: 25px;
  }
}

.productsNav-closeBtn {
  @include font(sans, 16px, 700, normal, 1px, caps);
  line-height: 60px;
  float: right;
  padding: 0 40px;
  @include mq($nav-break, 830px) {
    font-size: 13px;
  }
  @include mq(830px) {
    font-size: 16px;
  }
}

.productsNav-productLink {
  @include font(sans, 14px, 700, normal, 1px, caps);
  width: 300px;
  display: block;
  margin: 50px auto;
  line-height: 40px;
  text-align: center;
  border: 2px solid $navy;
}

.mobileNav {
  display: block;
  @include mq($nav-break) {
    display: none;
  }
}

.productsNav-productLink,
.productsNav-tease {
  display: none;
  @include mq($nav-break) {
    display: block;
  }
}

.mobileNav-link {
  display: block;
  padding: 20px 20px;
  @include font(sans, 18px, 700, normal, 1px, caps);
  border-bottom: 1px solid #bbb;
}
