$bg: #fff;
$highlight: #000;

$yellow: #FCCF4C;
$blue: #40C1D0;
$navy: #002025;
$red: #EE5248;
$cool-gray: #EDF3F5;

$oswald: 'Roboto Condensed', sans-serif;
$sans: 'Roboto Condensed', sans-serif;
$serif: 'Roboto Slab', serif;

$site-max: 1024px;
$site-padding: 20px;

$selection-color: $navy;
$selection-color-type: #fff;
