{% extends "base.twig" %}
{% block head %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}

{% block content %}

{% include 'mods/site-topper.twig' %}

<div class="contact-formMod">
  <div class="contact-width">
    <h3 class="contact-h">Contact Us</h3>
    <div class="contact-form">{{post.content}}</div>
  </div>
</div>

<div class="contact-infoMod bg-yellow">
  <div class="contact-width">
    <div class="contact-infoGrid">
      <div class="contact-infoGridItem">
        <h3 class="contact-h">General Inquiries</h3>
        <ul class="contact-infoList">
          <li class="contact-infoItem">978-499-9099</li>
          <li class="contact-infoItem"> <a href="mailto:info@muzzylane.com">info@muzzylane.com</a></li>
          <li class="contact-infoItem">260 Merrimac Street <br>Newburyport, MA 01950</li>
        </ul>
      </div>
      <div class="contact-infoGridItem">
        <h3 class="contact-h">Social Media</h3>
        <ul class="contact-socialList">
          <li class="contact-socialItem"><a href="" class="contact-socialLink contact-socialLink--twitter"></a></li>
          <li class="contact-socialItem"><a href="" class="contact-socialLink contact-socialLink--facebook"></a></li>
          <li class="contact-socialItem"><a href="" class="contact-socialLink contact-socialLink--linkedin"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="contact-mapMod">
  <div id="map-canvas"></div>
</div>

{% endblock %}

{% block page_scripts %}
  {% include 'mods/contact-script.twig' %}
{% endblock %}

