<div class="siteTopper siteTopper--{{post.title|sanitize}}">
  <h1 class="siteTopper-title">{{post.page_headline}}</h1>
  {% if post.page_subtitle %}
    <h2 class="siteTopper-subTitle">{{post.page_subtitle}}</h2>
  {% endif %}
</div>
